*{
 margin : 0; 
 padding : 0; 
 box-sizing : border-box; 
}

html, body{
 height : 100%;
 width : 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #998282;
}

#download-sec{
    width: 30%;
    height: 200px;
    background-color: #dddddd6d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#download-sec h4{
    font-family: gilroy;
    padding: 10px;
}

#download-bar{
    display: flex;
    align-items: center; 
    gap: 10px;
    /* justify-content: center; */
}

#progress{
    width: 150px;
    height: 5px;
    border-radius: 50px;
    background-color: rgba(245, 245, 245, 0.951);
}

#growth{
    width: 0%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.782);
    border-radius: 50px;
}

#download-sec button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    color: #694545;
    background-color: rgb(255, 255, 255);
}


#download-sec button:active{
    scale: 0.9;
}
